/* index.css */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .header {
    text-align: center;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
  }
  
  li.done {
    text-decoration: line-through;
  }
  
  button {
    
    background-color: #0d6efd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  button:hover {
    background-color: #110dfd;
  }
  
  input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"]::placeholder {
    font-style: italic;
    color: #999;
  }
  
  .notebook {
    background: linear-gradient(to bottom, #fff, #f7f7f7 99%);
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 20px;
  }
   
